<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The SHouter</title>
</head>
<body>
	<h1>The shouter</h1>
	<h2>better than a post-it, just shout it here</h2>
	<section>
		<%= yield %>
	</section>

</html> 
</body>
</html>